*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
}
.content{
    background-color: lightgreen;
    top: 0;
    left: 0;
    
}